header
    nav 
        .menu#menu
            ul  
                li 
                    a(href="/home") Home
                li 
                    a(href="/shop") Shop
                li 
                    a(href="/portfolio") Portfolio
                li 
                    a(href="/aboutUs") About Us
