app-header-home
div.main
    .news
        h2 News
        p.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda quod eligendi totam quis rerum, incidunt explicabo reprehenderit fuga atque veritatis excepturi sed eveniet dolor molestias itaque obcaecati numquam vel architecto.
 