.main{
    height: 400%;
    width: 68%;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.47) 0%, #000000 50%, rgba(0, 0, 0, 0.64) 100%);
    backdrop-filter: blur(2px);
    
}