.main{
    height: 400%;
    width: 70%;
    padding: 2% 15%;
    background: #23262f;

    .news{
        display: flex;
        flex-direction: row;
        h2{
            color:white;
            width: .7em; 
            width: 1ch; 
            text-align: center; 
            font: Consolas, Monaco, monospace; 
            word-wrap: break-word;
            padding-right: 40px;
            font-family: Stencil;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 45px;
        }
        p{
            font-size: 20px; 
            color: white;
        }
    }
}