header
    nav 
        .menu#menu
            ul  
                li 
                    a(href="/home") Home
                li 
                    a(href="/shop") Shop
                li 
                    a(href="/portfolio") Portfolio
                li 
                    a(href="/aboutUs") About Us
    img(class= "{{ imageClass }}" src = "../../assets/img/bg6.jpg")
    .popMessage
        .firstMessage( class = "{{ popClass }}")
            div.bg
            p Record Studio
                
        .secondMessage(class = "{{ popClass2 }}")
            div.bg
            p AMET-RC