

header
    nav 
        .menu#menu
            ul  
                li 
                    a(href="/home") Home
                li 
                    a(href="/shop") Shop
                li 
                    a(href="/portfolio") Portfolio
                li 
                    a(href="/aboutUs") About Us
    img(class= "{{ imageClass }}" src = "../../assets/img/home/bg5.jpg")
    .popMessage
        .firstMessage( class = "{{ popClass }}")
            div.bg
            p Speciality
                
        .secondMessage(class = "{{ popClass2 }}")
            div.bg
            p Company name
    .startButton
        a(href="/portfolio")
            div( class = "{{ buttonClass }}") View our works
    //- .social
    <div class="social">
        .share(class = "{{ shareClass }}")
            //- img(src="../../assets/img/logo.jpg" width="50px" height="50px")
            <a><i class="fa fa-share fa-2x" aria-hidden="true"></i></a>
        <ul (mouseover) = "hideShare()" (mouseleave) = "showShare()">
            <li class="soundcloud"><a href="https://soundcloud.com/amet_rc" target="_blank"><i class="fa fa-soundcloud fa-2x" aria-hidden="true"></i></a></li>
            <li class="instagram"><a href="https://www.instagram.com/amet_rc" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
            <li class="facebook"><a href="https://www.facebook.com/amet.ibraimov.1" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
            <li class="vk"><a href="https://vk.com/amet_ib" target="_blank"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a></li>
            <li class="youtube"><a href="https://www.youtube.com/channel/UC3rUna-dZuPyakff7cNRCSQ?view_as=subscriber" target="_blank"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></li>
        </ul>
    </div>
        
    