@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Arimo&display=swap");

main {
  background: #080808;
  border-top: 0.5px solid #929292;
  min-height: calc(100vh - 100px);
  font-family: "Poppins", "Arimo";
  // background: linear-gradient(180deg, #171715, #37363521 3%, #37363528 97%, #171715),
  //   linear-gradient(90deg, #171715, #373635, #373635, #171715);
  //   height: 400%;
  width: 100%;
    padding-bottom: 20px;
  h2,
  h3 {
    line-height: 1;
    // color: #c6e2ff;
    -webkit-animation: neon 0.08s ease-in-out infinite alternate;
    animation: neon 0.08s ease-in-out infinite alternate;
    font-family: "Poppins";
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
  }
  h3 {
    color: rgb(170, 170, 170);
    font-size: 25px;
  }
  .textBlock {
    box-shadow: 0px 0px 2px 1px #888888;
    margin: auto;
    margin-top: 20px;
    // min-height: 600px;
    max-height: max-content;
    width: 90%;
    background: #161616;
    // background: linear-gradient(180deg, #171715 , #37363521, #37363528, #171715), linear-gradient(90deg, #171715, #373635, #373635, #171715);
    background-size: cover;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #fff;

    p {
      padding: 20px;
      text-align: justify;
    }
  }

  .contact_form {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .infoFields label,
    .messageField label {
      color: #363636;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
    }

    > div {
      display: flex;
      flex-direction: row;
      box-shadow: 0px 0px 4px 0px grey;
      padding: 30px 20px;

      .message {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        input {
          background-color: #262626;
          box-shadow: 0px 0px 2px 1px #888888;
          border: none;
          outline: none;

        }
        label {
          color: white;
          margin: 10px 0 3px 0;
        }
        .name,
        .contact {
          outline: none;
          display: flex;
          flex-direction: column;
        }
        .name {
        }

        .contact {
        }
        .social {
          display: flex;

          min-height: calc(25%);
          .icons {
            margin: auto;
            width: max-content;

            $IconSizeMultiplier: 1;

            .icon {
              filter: invert(0);
              width: calc(42px * #{$IconSizeMultiplier});
              height: calc(42px * #{$IconSizeMultiplier});
              background: url("/img/social-icons.png") no-repeat;
              background-size: calc(500px * #{$IconSizeMultiplier}), calc(500px * #{$IconSizeMultiplier});
            }

            .facebook {
              background-position: calc(-25px * #{$IconSizeMultiplier}) calc(-25px * #{$IconSizeMultiplier});
            }

            .telegram {
              background-position: calc(-160px * #{$IconSizeMultiplier}) calc(-115px * #{$IconSizeMultiplier});
            }

            .instagram {
              background-position: calc(-160px * #{$IconSizeMultiplier}) calc(-25px * #{$IconSizeMultiplier});
            }
          }
        }

        .messageField {
          width: 100%;
          display: flex;
          flex-direction: column;
          position: relative;
          margin: auto;
          margin-bottom: 0;
          margin-right: 0;

          textarea {
            padding: 8px;
            width: 100%;
            height: 290px;
            box-shadow: 0px 0px 2px 1px #888888;
            border: none;
            background: #262626;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }

    .sendForm.button {
      cursor: pointer;
      padding: 8px 32px;
      margin: auto;
      margin-top: 32px;
      margin-bottom: 3%;
      background: #131313;
      border: 1px solid #5c5c5c;
      border-radius: 1px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 28px;
      text-align: right;
      color: #ffeaea;
    }

    .required {
      &:after {
        content: "*";
      }
    }
  }

  .success,
  .error {
    text-align: center;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
  }
  .success {
    color: #23b384;
  }
  .error {
    color: #b32323;
  }
  .showMessage {
    display: block !important;
  }



  @media screen {
    @media (max-width: 1050px) {
      .contact_form {
        width: 80%;
        > div {
          flex-direction: column;
          .infoFields {
            margin-right: 0;
          }
        }
      }
      .message {
        width: 100% !important;
        flex-direction: column-reverse !important;
      }
      input {
        max-width: calc(100% - 24px);
      }
      select {
        width: 100% !important;
      }
      .contact_form .social {
        display: none !important;
      }
      .contactMe {
        h2 {
          font-size: 1.4rem;
        }
        width: 80%;
      }
      // .social
    }
    @media (max-width: 1050px) and (min-width: 600px) {
      .phone {
        .phone__field {
          width: calc(100% - 48px) !important;
          input {
            padding-left: 60px !important;
          }
        }
      }
    }
  }
}
.social {
    width: 250px;
    margin: auto;
    margin-top: 20px;
    a {
    filter: grayscale(100%); 
    text-align: center;
      margin: 4px;
      padding: 1px;
      width: 200px;
      box-sizing: border-box;
      backdrop-filter: blur(4px);
      border-radius: 7px;
    }
  }